body {
    background-color: #3a5a40;
}

header h1 {
    color: #03045e;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
}


header {
    text-align: center;
    font-size: 16px;
    background-color:#edede8;
    height: 200px;
}

#fiveDayHead {
    background-color: #a3b18a;
    width: 450px;
    margin-left: auto;
    margin-top: 4em;
    justify-content: center;
}


.card-header {
    font-family:'Times New Roman', Times, serif;
    background-color: #a3b18a;
    color: rgba(43, 40, 40, 0.829);
    text-align: center;
    font-weight: bold;
}



.clearCard {
    padding-top: 20px;
    background-color: whitesmoke;
    border-radius: 5%;
    border: solid 1px black;
    box-shadow: 3px 3px 2px black;
    margin-left: 16px;
    width: 270px;
}

 .card {
    padding-top: 20px;
    background-color: whitesmoke;
    border-radius: 5%;
    border: solid 1px black;
    box-shadow: 3px 3px 2px black;
    margin-left: 16px;
    width: 270px;
} 

.btn {
    background-color: #373af5;
    color: #fff;
    margin-left: 50px;
}

#clearBtn {
    background-color: #373af5;
    color: #fff;
    width: 150px;
    margin-left: 50px;
}