header {
    background-color: cadetblue;
    height: 250px;
}

h1 {
text-align: center;
padding-top: 20px;
font-size: 40px;
color: #fff;
}

#search {
    
    background-color: whitesmoke;
    margin-left: 33%;
    float: center;
    align-items: center;
    border-radius: 5%;
    border: solid 1px black;
    box-shadow: 3px 3px 2px black;
    width:fit-content;
    padding: 12px;
}

.searchBtn {
    margin-left: 10px;
}

.form-control {
    width: 250px;
    margin: 12px;
}